version: '3.8'

services:
  frontend:
    build:
      context: .
      dockerfile: Dockerfile.frontend
    ports:
      - "3006:80"
    depends_on:
      - backend
    environment:
      - VITE_API_URL=https://web-production-22b3d.up.railway.app
      - VITE_APP_URL=https://web-production-22b3d.up.railway.app
      - VITE_WS_URL=wss://web-production-22b3d.up.railway.app

  backend:
    build:
      context: ./chatbot
      dockerfile: Dockerfile
    ports:
      - "5000:5000"
    environment:
      - FLASK_ENV=production